<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Amin</title>
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<div class="body-admin">
		<div class="menu-admin-action">
			<div class="container-menu-admin-action">
				<a href="/admin/dashboard"><div class="admin-title">DASHBOARD</div></a>
				<hr width="40%" align="center" color="#32c5d2"/>
				<div class="dashboard-container">
					<a href="/admin/dashboard" style="color:black; font-size:20px; margin-left: 5px;">
					<img class="dashboard-icon" src="{{url_for('static', filename='/Image/' + 'dashboard.png')}}">
					Dashboard
					</a>
				</div>
				<div class="all-user-container">
					<a href="/admin/get-all-users" style="color:black; font-size:20px;">
					<img class="dashboard-icon" src="{{url_for('static', filename='/Image/' + 'profile.png')}}">
					Tất cả người dùng
					</a>
				</div>
				<div class="add-account-container">
					<a href="/admin/add-acc" style="color:black; font-size:20px;">
					<img class="add-account-icon" src="{{url_for('static', filename='/Image/' + 'add.png')}}">
					Thêm account
					</a>
				</div>
			</div>	
		</div>
		{% block content %}
		{% endblock %}
	</div>
	
    <script src="/static/callAPI.js"></script>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>