{% extends "admin.html" %}
{% block content %}
<form method="POST" enctype="multipart/form-data" class="form-add-acc">
    <div>
        <span name="id-acc">ID:{{id_acc}}</span>
    </div>
    <div class="row-admin-add-acc">
        <div style="width: 69px;">
            <span>Giá tiền</span>
        </div> 
        <input name="price-acc">
    </div>
    <div class="row-admin-add-acc" style="margin-top: 10px;">
        <div style="width: 69px;">
             <span>Lớp</span>
        </div>
       
        <select name="class-acc">
            <option>Lớp kiếm</option>
            <option>Lớp ám khí</option>
            <option>Lớp gậy</option>
            <option>Lớp đao</option>
            <option>Lớp dao</option>
        </select>
    </div>
    <div class="row-admin-add-acc" style="margin-top: 10px;">
        <div style="width: 69px;">
            <span>Rank</span>
        </div>
        <input name="rank-acc">
    </div>
    <div class="row-admin-add-acc" style="margin-top: 10px;">
        <div style="width: 69px;">
            <span class="span-title">Máy chủ</span>
        </div>
        
        <select name="server-acc">
            <option>Làng Lá</option>
            <option>Làng Cát</option>
            <option>Làng Sương Mù</option>
            <option>Hachibi</option>
            <option>Hashirama</option>
            <option>Madara</option>
            <option>Itachi</option>
        </select>
    </div>
    <div class="row-admin-add-acc" style="margin-top: 10px;">
        <div style="width: 69px;">
            <span class="span-title">Card</span>
        </div>
        
        <select name="card-acc">
            <option>Không có</option>
            <option>Vĩnh viễn</option>
        </select>
    </div>
    <div class="row-admin-add-acc" style="margin-top: 10px;">
        <div style="width: 69px;">
            <span class="span-title">Vũ khí +</span>
        </div>
        
        <input name="weapon-acc">
    </div>
    <div class="row-admin-add-acc" style="margin-top: 10px;">
         <div style="width: 69px;">
            <span class="span-title">Cấp</span>
        </div>
        
        <input name="level-acc">
    </div>
    <div class="row-admin-add-acc area-detail-acc" style="margin-top: 10px;">
        <textarea name = "hot-des-acc" id = "note" class="form-control" placeholder="Thông tin miêu tả"></textarea>
    </div>
    <div style="margin-top: 10px;">
        <input type="file" id="myFile1" name="uploaded-file1" accept=".jpg, .png">
        <input type="file" id="myFile2" name="uploaded-file2" accept=".jpg, .png">
        <input type="file" id="myFile3" name="uploaded-file3" accept=".jpg, .png">
        <input type="file" id="myFile4" name="uploaded-file4" accept=".jpg, .png">
    </div>
    <span class="help-block" style="text-align: center;color: #dd4b39">
        <strong id="messageError">{{msg_upload_img}}</strong>
    </span>   
    <input type="submit" value="Submit" style="margin-top: 10px;">
</form>
{% endblock %}