{% extends "admin.html" %}
{% block content %}
<div class="body-dashboard">
    <div class="row1-dashboard">
        <div class ="box-dashboard box-user">
            <div>New User</div>
            <div>{{total_acc}}</div>
            <div>20%</div>
        </div>
        <div class ="box-dashboard box-acc">
            <div>New Acc</div>
            <div>1000</div>
            <div>20%</div>
        </div>
        <div class ="box-dashboard box-money">
            <div>Money</div>
            <div>1000</div>
            <div>20%</div>
        </div>
    </div>
</div>
{% endblock %}