{% extends "user.html" %}

{% block content_user %}
    <span class="help-block" style="text-align: center;color: #dd4b39">
        <strong id="messageError">{{msg_change_password_error}}</strong>
    </span>   
    <form method="POST" class="form-body" action="">
        <div class="form-row">
            <input type="text" name="old-password" value="" placeholder="Mật khẩu mới" style="width: 260px;">
        </div>
        <div class="form-row">
            <input type="text" name="new-password" value="" placeholder="Nhập lại mật khẩu mới" style="width: 260px;">	
        </div>
        <div class="button-row-container">
            <div class="button-row-login" style="margin-top: 10px;">
                <button type="submit" class="btn btn-success btn-login" style="margin-right: 7px;"><a class="a-btn-login " id="loginButton">Cập nhật</a></button>
            </div>
        </div>
    </form>
{% endblock %}