{% extends "user.html" %}

{% block content_user %}
	<h3>THÔNG TIN TÀI KHOẢN</h3>
	<div class="info-user-container">
		<div class="c-line-left"></div>
		<div class="info-user-column1">
			<p>ID của bạn:</p>
			<p>Tên tài khoản:</p>
			<p>Số dư tài khoản:</p>
			<p>Bảo mật ODP:</p>
			<p>Nhóm tài khoản:</p>
			<p>Ngày tham gia:</p>
			<p>Mật khẩu:</p>
		</div>
		<div class="info-user-column1">
			{% if user.is_authenticated %}
				<p>{{user.id}}</p>
				<p>{{user.username}}</p>
				<p>{{user.balance}}</p>
				<p>{{user.phonenumber}}</p>
				<p>{{user.role}}</p>
				<p>{{user.datejoin}}</p>
				<p>{{user.password}}</p>
			{% endif %}
		</div>
	</div>
{% endblock %}