
.info-container{
	width: 100%;
	height: 700px;
	display: flex;
	justify-content: center;
}
.detail-info-container{
	width: 970px;
	height:100%;
	display: flex;
}
.menu-action-column{
	width: 35%;
	height: 100%;
}
.info-action-column{
	width: 65%;
	height: 100%;
}
.menu-action-row1{
	width: 100%;
	height: 50%;
}
.info-user-container{
	display: flex;
	height: 90%;
	width: 100%;
}
.info-user-column1{
	height: 100%;
	width: 50%;
}