<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Home</title>
</head>

<body>
    <h1 class="heading"> Book Management </h1>
    <divclass="container">
        <form action="#">

            <label for="fname">Book name</label>
            <input type="text" id="fname" name="name" placeholder="Book name...">

            <label for="lname">Page Count</label>
            <input type="number" id="lname" name="page-count" placeholder="Page count...">
            <label for="country">Author</label>
            <select id="author" name="author">

            </select>
            <label for="category">Category</label>
            <select id="category" name="category">

            </select>

            <input type="submit" value="Submit">

        </form>
        </div>
        <table id="book-block">
        </table>
        <script src="./callAPI.js"></script>
</body>

</html>